n8n/intake_complete_workflow.json
{
  "name": "📥 Lead Intake Completo - Twilio + Supabase + OpenAI",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "intake-lead-complete",
        "options": {}
      },
      "id": "webhook-intake",
      "name": "📥 Webhook - Novo Lead",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition1",
              "leftValue": "={{ $json.body.name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "condition2",
              "leftValue": "={{ $json.body.phone }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "validate-lead-data",
      "name": "✅ Validar Dados do Lead",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "https://wsoxukpeyzmpcngjugie.supabase.co/rest/v1/leads",
        "authentication": "headerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "tenant_id",
              "value": "={{ $json.body.tenant_id || '60675861-e22a-4990-bab8-65ed07632a63' }}"
            },
            {
              "name": "name",
              "value": "={{ $json.body.name }}"
            },
            {
              "name": "email",
              "value": "={{ $json.body.email }}"
            },
            {
              "name": "phone",
              "value": "={{ $json.body.phone }}"
            },
            {
              "name": "origem",
              "value": "={{ $json.body.origem || 'n8n_intake' }}"
            },
            {
              "name": "inserido_manual",
              "value": "={{ $json.body.inserido_manual || false }}"
            },
            {
              "name": "tags",
              "value": "={{ JSON.stringify($json.body.tags || []) }}"
            },
            {
              "name": "status",
              "value": "novo"
            },
            {
              "name": "score",
              "value": "0"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Indzb3h1a3BleXptcGNuZ2p1Z2llIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NTU0ODM0NSwiZXhwIjoyMDcxMTI0MzQ1fQ.BKoJd_3Z2djDtoWzPjfrrnI2jvrT19WEyw6QK-6CxpI"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Indzb3h1a3BleXptcGNuZ2p1Z2llIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NTU0ODM0NSwiZXhwIjoyMDcxMTI0MzQ1fQ.BKoJd_3Z2djDtoWzPjfrrnI2jvrT19WEyw6QK-6CxpI"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        }
      },
      "id": "create-lead-supabase",
      "name": "💾 Criar Lead no Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "url": "https://wsoxukpeyzmpcngjugie.supabase.co/rest/v1/sessions",
        "authentication": "headerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "lead_id",
              "value": "={{ $json[0].id }}"
            },
            {
              "name": "status",
              "value": "ativa"
            },
            {
              "name": "current_step",
              "value": "apresentacao"
            },
            {
              "name": "context",
              "value": "={{ JSON.stringify({\"lead_name\": $('📥 Webhook - Novo Lead').item.json.body.name, \"origem\": $('📥 Webhook - Novo Lead').item.json.body.origem}) }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Indzb3h1a3BleXptcGNuZ2p1Z2llIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NTU0ODM0NSwiZXhwIjoyMDcxMTI0MzQ1fQ.BKoJd_3Z2djDtoWzPjfrrnI2jvrT19WEyw6QK-6CxpI"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Indzb3h1a3BleXptcGNuZ2p1Z2llIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NTU0ODM0NSwiZXhwIjoyMDcxMTI0MzQ1fQ.BKoJd_3Z2djDtoWzPjfrrnI2jvrT19WEyw6QK-6CxpI"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "id": "create-session-supabase",
      "name": "💬 Criar Sessão de Chat",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "messages": {
          "messageValues": [
            {
              "role": "system",
              "content": "Você é um assistente especializado em qualificação de leads para investimentos. Crie uma mensagem de apresentação personalizada e acolhedora para iniciar a conversa.\n\nInformações do lead:\n- Nome: {{ $('📥 Webhook - Novo Lead').item.json.body.name }}\n- Origem: {{ $('📥 Webhook - Novo Lead').item.json.body.origem }}\n\nCrie uma mensagem que:\n1. Seja calorosa e personalizada\n2. Mencione como chegaram até nós (origem)\n3. Desperte interesse em investimentos\n4. Faça uma pergunta para engajar\n\nTom: Consultivo, amigável, profissional\nTamanho: Máximo 2 parágrafos"
            },
            {
              "role": "user",
              "content": "Gere a mensagem de apresentação para este novo lead."
            }
          ]
        },
        "options": {
          "temperature": 0.8,
          "maxTokens": 150
        }
      },
      "id": "generate-welcome-message",
      "name": "🤖 Gerar Mensagem de Boas-vindas",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.3,
      "position": [1120, 300],
      "credentials": {
        "openAiApi": {
          "id": "openai-credentials",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.twilio.com/2010-04-01/Accounts/{{ $env.TWILIO_ACCOUNT_SID }}/Messages.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "From",
              "value": "whatsapp:{{ $env.TWILIO_WHATSAPP_NUMBER }}"
            },
            {
              "name": "To",
              "value": "whatsapp:{{ $('📥 Webhook - Novo Lead').item.json.body.phone }}"
            },
            {
              "name": "Body",
              "value": "={{ $json.choices[0].message.content }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            }
          ]
        }
      },
      "id": "send-welcome-whatsapp",
      "name": "📱 Enviar Boas-vindas WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1340, 300],
      "credentials": {
        "httpBasicAuth": {
          "id": "twilio-credentials",
          "name": "Twilio API"
        }
      }
    },
    {
      "parameters": {
        "url": "https://wsoxukpeyzmpcngjugie.supabase.co/rest/v1/messages",
        "authentication": "headerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "session_id",
              "value": "={{ $('💬 Criar Sessão de Chat').item.json[0].id }}"
            },
            {
              "name": "direction",
              "value": "outbound"
            },
            {
              "name": "content",
              "value": "={{ $('🤖 Gerar Mensagem de Boas-vindas').item.json.choices[0].message.content }}"
            },
            {
              "name": "message_type",
              "value": "text"
            },
            {
              "name": "twilio_sid",
              "value": "={{ $('📱 Enviar Boas-vindas WhatsApp').item.json.sid }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Indzb3h1a3BleXptcGNuZ2p1Z2llIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NTU0ODM0NSwiZXhwIjoyMDcxMTI0MzQ1fQ.BKoJd_3Z2djDtoWzPjfrrnI2jvrT19WEyw6QK-6CxpI"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Indzb3h1a3BleXptcGNuZ2p1Z2llIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NTU0ODM0NSwiZXhwIjoyMDcxMTI0MzQ1fQ.BKoJd_3Z2djDtoWzPjfrrnI2jvrT19WEyw6QK-6CxpI"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "id": "save-welcome-message",
      "name": "💾 Salvar Mensagem Enviada",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1120, 500]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Lead processado com sucesso\",\n  \"lead_id\": \"{{ $('💾 Criar Lead no Supabase').item.json[0].id }}\",\n  \"session_id\": \"{{ $('💬 Criar Sessão de Chat').item.json[0].id }}\",\n  \"whatsapp_sent\": true,\n  \"twilio_sid\": \"{{ $('📱 Enviar Boas-vindas WhatsApp').item.json.sid }}\"\n}"
      },
      "id": "success-response",
      "name": "✅ Resposta de Sucesso",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"error\": \"Dados inválidos\",\n  \"message\": \"Nome e telefone são obrigatórios\"\n}",
        "responseCode": 400
      },
      "id": "error-response",
      "name": "❌ Resposta de Erro",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [460, 500]
    }
  ],
  "connections": {
    "📥 Webhook - Novo Lead": {
      "main": [
        [
          {
            "node": "✅ Validar Dados do Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✅ Validar Dados do Lead": {
      "main": [
        [
          {
            "node": "💾 Criar Lead no Supabase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "❌ Resposta de Erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 Criar Lead no Supabase": {
      "main": [
        [
          {
            "node": "💬 Criar Sessão de Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💬 Criar Sessão de Chat": {
      "main": [
        [
          {
            "node": "🤖 Gerar Mensagem de Boas-vindas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🤖 Gerar Mensagem de Boas-vindas": {
      "main": [
        [
          {
            "node": "📱 Enviar Boas-vindas WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📱 Enviar Boas-vindas WhatsApp": {
      "main": [
        [
          {
            "node": "💾 Salvar Mensagem Enviada",
            "type": "main",
            "index": 0
          },
          {
            "node": "✅ Resposta de Sucesso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1.0.0",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [
    {
      "createdAt": "2025-08-21T18:30:00.000Z",
      "updatedAt": "2025-08-21T18:30:00.000Z",
      "id": "lead-intake-complete",
      "name": "Lead Intake Complete"
    }
  ]
}


