n8n/qualification_notification_workflow.json
{
  "name": "Qualified Lead Notification",
  "nodes": [
    {
      "parameters": {
        "tableName": "leads",
        "watchType": "update",
        "additionalFields": {
          "filter": "status=eq.qualificado"
        }
      },
      "id": "supabase-trigger",
      "name": "Supabase Trigger - Lead Qualified",
      "type": "n8n-nodes-base.supabaseTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-credentials",
          "name": "Supabase API"
        }
      }
    },
    {
      "parameters": {
        "url": "{{ $env.SUPABASE_URL }}/rest/v1/qualificacoes",
        "authentication": "headerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "{{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "lead_id",
              "value": "eq.{{ $json.record.id }}"
            },
            {
              "name": "order",
              "value": "created_at.desc"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "id": "get-qualification",
      "name": "Get Qualification Details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "{{ $env.SUPABASE_URL }}/rest/v1/users",
        "authentication": "headerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "{{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "tenant_id",
              "value": "eq.{{ $json.record.tenant_id }}"
            },
            {
              "name": "role",
              "value": "eq.closer"
            }
          ]
        },
        "options": {}
      },
      "id": "get-closers",
      "name": "Get Available Closers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "// Gerar sugestões de horário para reunião\nconst now = new Date();\nconst tomorrow = new Date(now);\ntomorrow.setDate(tomorrow.getDate() + 1);\ntomorrow.setHours(14, 0, 0, 0); // 14:00 de amanhã\n\nconst dayAfterTomorrow = new Date(now);\ndayAfterTomorrow.setDate(dayAfterTomorrow.getDate() + 2);\ndayAfterTomorrow.setHours(10, 0, 0, 0); // 10:00 do dia seguinte\n\n// Selecionar closer aleatório\nconst closers = $input.all()[1].json;\nconst randomCloser = closers[Math.floor(Math.random() * closers.length)];\n\n// Dados do lead e qualificação\nconst leadData = $input.all()[0].json.record;\nconst qualificationData = $input.all()[0].json[0] || {};\n\nreturn {\n  lead: leadData,\n  qualification: qualificationData,\n  closer: randomCloser,\n  meeting_suggestions: {\n    option1: tomorrow.toISOString(),\n    option2: dayAfterTomorrow.toISOString()\n  },\n  formatted_suggestions: {\n    option1: tomorrow.toLocaleDateString('pt-BR') + ' às 14:00',\n    option2: dayAfterTomorrow.toLocaleDateString('pt-BR') + ' às 10:00'\n  }\n};"
      },
      "id": "prepare-meeting-data",
      "name": "Prepare Meeting Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "url": "{{ $env.FLASK_API_URL }}/meetings",
        "authentication": "headerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "lead_id",
              "value": "={{ $json.lead.id }}"
            },
            {
              "name": "closer_id",
              "value": "={{ $json.closer.id }}"
            },
            {
              "name": "horario_sugestao_1",
              "value": "={{ $json.meeting_suggestions.option1 }}"
            },
            {
              "name": "horario_sugestao_2",
              "value": "={{ $json.meeting_suggestions.option2 }}"
            },
            {
              "name": "status",
              "value": "pendente"
            }
          ]
        },
        "options": {}
      },
      "id": "create-meeting",
      "name": "Create Meeting",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1120, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "flask-api-auth",
          "name": "Flask API Auth"
        }
      }
    },
    {
      "parameters": {
        "url": "{{ $env.SLACK_WEBHOOK_URL }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "🎉 *Novo Lead Qualificado!*"
            },
            {
              "name": "blocks",
              "value": [
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "*{{ $('Prepare Meeting Data').item.json.lead.name }}* foi qualificado!"
                  }
                },
                {
                  "type": "section",
                  "fields": [
                    {
                      "type": "mrkdwn",
                      "text": "*Telefone:*\\n{{ $('Prepare Meeting Data').item.json.lead.phone }}"
                    },
                    {
                      "type": "mrkdwn",
                      "text": "*Email:*\\n{{ $('Prepare Meeting Data').item.json.lead.email || 'Não informado' }}"
                    },
                    {
                      "type": "mrkdwn",
                      "text": "*Score:*\\n{{ $('Prepare Meeting Data').item.json.lead.score }}/100"
                    },
                    {
                      "type": "mrkdwn",
                      "text": "*Origem:*\\n{{ $('Prepare Meeting Data').item.json.lead.origem }}"
                    }
                  ]
                },
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "*Sugestões de Horário:*\\n• {{ $('Prepare Meeting Data').item.json.formatted_suggestions.option1 }}\\n• {{ $('Prepare Meeting Data').item.json.formatted_suggestions.option2 }}"
                  }
                },
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "*Closer Responsável:*\\n{{ $('Prepare Meeting Data').item.json.closer.name || $('Prepare Meeting Data').item.json.closer.email }}"
                  }
                },
                {
                  "type": "actions",
                  "elements": [
                    {
                      "type": "button",
                      "text": {
                        "type": "plain_text",
                        "text": "Ver Lead"
                      },
                      "url": "{{ $env.FRONTEND_URL }}/leads/{{ $('Prepare Meeting Data').item.json.lead.id }}"
                    },
                    {
                      "type": "button",
                      "text": {
                        "type": "plain_text",
                        "text": "Ver Conversa"
                      },
                      "url": "{{ $env.FRONTEND_URL }}/conversations"
                    }
                  ]
                }
              ]
            }
          ]
        },
        "options": {}
      },
      "id": "notify-slack",
      "name": "Notify Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1340, 240]
    },
    {
      "parameters": {
        "fromEmail": "{{ $env.SMTP_FROM_EMAIL }}",
        "toEmail": "={{ $('Prepare Meeting Data').item.json.closer.email }}",
        "subject": "🎉 Novo Lead Qualificado: {{ $('Prepare Meeting Data').item.json.lead.name }}",
        "emailType": "html",
        "message": "<!DOCTYPE html>\n<html>\n<head>\n    <meta charset=\"utf-8\">\n    <title>Lead Qualificado</title>\n</head>\n<body style=\"font-family: Arial, sans-serif; line-height: 1.6; color: #333;\">\n    <div style=\"max-width: 600px; margin: 0 auto; padding: 20px;\">\n        <h2 style=\"color: #2563eb; border-bottom: 2px solid #2563eb; padding-bottom: 10px;\">🎉 Novo Lead Qualificado!</h2>\n        \n        <div style=\"background: #f8fafc; padding: 20px; border-radius: 8px; margin: 20px 0;\">\n            <h3 style=\"margin-top: 0; color: #1e40af;\">{{ $('Prepare Meeting Data').item.json.lead.name }}</h3>\n            \n            <table style=\"width: 100%; border-collapse: collapse;\">\n                <tr>\n                    <td style=\"padding: 8px 0; font-weight: bold;\">Telefone:</td>\n                    <td style=\"padding: 8px 0;\">{{ $('Prepare Meeting Data').item.json.lead.phone }}</td>\n                </tr>\n                <tr>\n                    <td style=\"padding: 8px 0; font-weight: bold;\">Email:</td>\n                    <td style=\"padding: 8px 0;\">{{ $('Prepare Meeting Data').item.json.lead.email || 'Não informado' }}</td>\n                </tr>\n                <tr>\n                    <td style=\"padding: 8px 0; font-weight: bold;\">Score:</td>\n                    <td style=\"padding: 8px 0;\"><strong>{{ $('Prepare Meeting Data').item.json.lead.score }}/100</strong></td>\n                </tr>\n                <tr>\n                    <td style=\"padding: 8px 0; font-weight: bold;\">Origem:</td>\n                    <td style=\"padding: 8px 0;\">{{ $('Prepare Meeting Data').item.json.lead.origem }}</td>\n                </tr>\n            </table>\n        </div>\n        \n        <div style=\"background: #ecfdf5; padding: 20px; border-radius: 8px; margin: 20px 0;\">\n            <h4 style=\"margin-top: 0; color: #065f46;\">📅 Sugestões de Horário:</h4>\n            <ul>\n                <li>{{ $('Prepare Meeting Data').item.json.formatted_suggestions.option1 }}</li>\n                <li>{{ $('Prepare Meeting Data').item.json.formatted_suggestions.option2 }}</li>\n            </ul>\n        </div>\n        \n        <div style=\"text-align: center; margin: 30px 0;\">\n            <a href=\"{{ $env.FRONTEND_URL }}/leads/{{ $('Prepare Meeting Data').item.json.lead.id }}\" \n               style=\"background: #2563eb; color: white; padding: 12px 24px; text-decoration: none; border-radius: 6px; display: inline-block; margin: 0 10px;\">Ver Lead</a>\n            <a href=\"{{ $env.FRONTEND_URL }}/conversations\" \n               style=\"background: #059669; color: white; padding: 12px 24px; text-decoration: none; border-radius: 6px; display: inline-block; margin: 0 10px;\">Ver Conversas</a>\n        </div>\n        \n        <p style=\"text-align: center; color: #6b7280; font-size: 14px; margin-top: 40px;\">\n            Agente Qualificador - Sistema de Qualificação Inteligente\n        </p>\n    </div>\n</body>\n</html>",
        "options": {}
      },
      "id": "notify-email",
      "name": "Notify Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1340, 360],
      "credentials": {
        "smtp": {
          "id": "smtp-credentials",
          "name": "SMTP Credentials"
        }
      }
    },
    {
      "parameters": {
        "url": "{{ $env.SUPABASE_URL }}/rest/v1/audit_events",
        "authentication": "headerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "apikey",
              "value": "{{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "tenant_id",
              "value": "={{ $('Prepare Meeting Data').item.json.lead.tenant_id }}"
            },
            {
              "name": "action",
              "value": "qualified_lead_notification"
            },
            {
              "name": "resource_type",
              "value": "lead"
            },
            {
              "name": "resource_id",
              "value": "={{ $('Prepare Meeting Data').item.json.lead.id }}"
            },
            {
              "name": "details",
              "value": {
                "workflow": "qualification_notification",
                "closer_id": "={{ $('Prepare Meeting Data').item.json.closer.id }}",
                "meeting_created": true,
                "notifications_sent": {
                  "slack": true,
                  "email": true
                }
              }
            }
          ]
        },
        "options": {}
      },
      "id": "log-audit-notification",
      "name": "Log Audit - Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1560, 300]
    }
  ],
  "connections": {
    "Supabase Trigger - Lead Qualified": {
      "main": [
        [
          {
            "node": "Get Qualification Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Qualification Details": {
      "main": [
        [
          {
            "node": "Get Available Closers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Available Closers": {
      "main": [
        [
          {
            "node": "Prepare Meeting Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Meeting Data": {
      "main": [
        [
          {
            "node": "Create Meeting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Meeting": {
      "main": [
        [
          {
            "node": "Notify Slack",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notify Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Slack": {
      "main": [
        [
          {
            "node": "Log Audit - Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Email": {
      "main": [
        [
          {
            "node": "Log Audit - Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "qualification-notification",
  "tags": [
    {
      "createdAt": "2025-08-18T22:00:00.000Z",
      "updatedAt": "2025-08-18T22:00:00.000Z",
      "id": "notifications",
      "name": "Notifications"
    }
  ]
}




