n8n/qualification_notification_workflow_fixed.json
{
  "name": "Qualified Lead Notification (Email + CRM)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "qualified-lead",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger - Qualified Lead",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "qualified-lead-webhook"
    },
    {
      "parameters": {
        "url": "http://localhost:5000/api/hooks/qualified-lead",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "backend-processor",
      "name": "Backend - Process Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "success-condition",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "success-check",
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"success\": true,\n  \"message\": \"Lead qualificado processado com sucesso\",\n  \"lead_name\": $json.lead_name,\n  \"consultant_email\": $json.consultant_email,\n  \"timestamp\": new Date().toISOString()\n} }}"
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"success\": false,\n  \"message\": \"Erro ao processar lead qualificado\",\n  \"error\": $json.error || \"Erro desconhecido\",\n  \"timestamp\": new Date().toISOString()\n} }}",
        "options": {
          "responseCode": 500
        }
      },
      "id": "error-response",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 400]
    },
    {
      "parameters": {
        "operation": "log",
        "message": "=Lead qualificado processado: {{ $json.lead_name }} (Score: {{ $json.lead?.score }})",
        "level": "info"
      },
      "id": "log-success",
      "name": "Log Success",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "operation": "log", 
        "message": "=Erro ao processar lead: {{ $json.error }}",
        "level": "error"
      },
      "id": "log-error",
      "name": "Log Error",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1120, 400]
    }
  ],
  "connections": {
    "Webhook Trigger - Qualified Lead": {
      "main": [
        [
          {
            "node": "Backend - Process Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Backend - Process Lead": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success Response": {
      "main": [
        [
          {
            "node": "Log Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Response": {
      "main": [
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-01-25T20:00:00.000Z",
      "updatedAt": "2025-01-25T20:00:00.000Z",
      "id": "qualified-leads",
      "name": "qualified-leads"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-01-25T20:00:00.000Z",
  "versionId": "1"
}

